In [4]:
import pandas as pd
import numpy as np

In [3]:
veri=pd.DataFrame(pd.read_excel("C:/Users/Emin Taşkent/Desktop/hastane.xlsx"))
print(veri)

                  Ad_Soyad           Tc Cinsiyet  Yas  \
0            Masal Elkıran  21416079369    Kadın   34
1              Cem Gözağaç  98898378538    Erkek   35
2           Veli Dinçaslan  94849292716    Erkek   56
3          Niyazi Yeniçeri  42507927276    Erkek   20
4       Ayten Hacıeminoglu  65217432309    Kadın   58
...                    ...          ...      ...  ...
4995         Yüksel İdemen  64987043272    Kadın   47
4996          Hediye Aktop  78180125827    Kadın   49
4997  Müzeyyen Çaglarırmak  87108847422    Kadın   38
4998         Fatmanur Nuri  75338889250    Kadın   48
4999          Kerim Güngeç  61909591237    Erkek   25

                                     Mail         Tel          İl  \
0          m.elkıran@anlaşılırekonomi.com  5063388897     Ardahan
1          c.gözağaç@anlaşılırekonomi.com  5282384749     Isparta
2        v.dinçaslan@anlaşılırekonomi.com  5033320406     Trabzon
3         n.yeniçeri@anlaşılırekonomi.com  5052380221  Diyarbakır
4     a.hacıeminoglu@anlaşılırekonomi.com  5133321842      Mardin
...                                   ...         ...         ...
4995        y.idemen@anlaşılırekonomi.com  5223333180   Eskişehir
4996         h.aktop@anlaşılırekonomi.com  5293314916     Isparta
4997   m.çaglarırmak@anlaşılırekonomi.com  5223373147       Siirt
4998          f.nuri@anlaşılırekonomi.com  5113318203       Sivas
4999        k.güngeç@anlaşılırekonomi.com  5063355159      Ankara

                İlce      Kan                               Bolum
0     Ardahan Merkez   B Rh -          İç Hastalıkları (Dahiliye)
1             Atabey   B Rh -                      Tıbbi Onkoloji
2           Akçaabat   A Rh -                 Transfüzyon Merkezi
3             Bismil  AB Rh -                 Transfüzyon Merkezi
4              Derik   A Rh -                Böbrek Nakli Merkezi
...              ...      ...                                 ...
4995         Günyüzü   A Rh -       Kalp ve Damar Cerrahisi (KVC)
4996   Şarkikaraağaç   B Rh +                   Beslenme ve Diyet
4997         Pervari   A Rh -  Kozmetik Dermatoloji (Kozmetoloji)
4998           Hafik  AB Rh -                  Psikoloji (Klinik)
4999        Keçiören   A Rh +             Robotik Cerrahi Merkezi

[5000 rows x 10 columns]

In [18]:
# Pivot Table, büyük bir tablo üzerinden özet bir tablo çıkarmamızı sağlayan bir tablo türüdür.

veri2=veri.pivot_table(values="Yas", columns="Cinsiyet", aggfunc=np.mean)

print(veri2)

Cinsiyet      Erkek      Kadın
Yas       45.282931  45.575218

In [15]:
# Kaç değer olduğunu döndürmek istersek;

veri3=veri.pivot_table(values="Yas", columns="Cinsiyet", aggfunc=len)

# Yaşları toplamak istersen

veri4=veri.pivot_table(values="Yas", columns="Cinsiyet", aggfunc=sum)

print(veri3)
print("\n",veri4)

Cinsiyet  Erkek  Kadın
Yas        2361   2639

 Cinsiyet   Erkek   Kadın
Yas       106913  120273

In [22]:
# Cinsiyetin yanına bir parametre daha eklemek istersek;

veri5=veri.pivot_table(values="Yas", columns=["Cinsiyet","Kan"], aggfunc=np.mean)
print(veri5)
display(veri5)

Cinsiyet      Erkek                                                        \
Kan          0 Rh +     0 Rh -    A Rh +     A Rh -    AB Rh +    AB Rh -
Yas       45.695971  45.371336  44.83908  44.823529  44.527586  46.693603

Cinsiyet                            Kadın                                   \
Kan          B Rh +     B Rh -     0 Rh +     0 Rh -     A Rh +     A Rh -
Yas       44.758065  45.533123  44.312865  46.613861  45.674121  46.728435

Cinsiyet
Kan         AB Rh +   AB Rh -     B Rh +     B Rh -
Yas       45.387574  46.10951  45.084302  44.902655

Cinsiyet      Erkek                                                        \
Kan          0 Rh +     0 Rh -    A Rh +     A Rh -    AB Rh +    AB Rh -
Yas       45.695971  45.371336  44.83908  44.823529  44.527586  46.693603

Cinsiyet                            Kadın                                   \
Kan          B Rh +     B Rh -     0 Rh +     0 Rh -     A Rh +     A Rh -
Yas       44.758065  45.533123  44.312865  46.613861  45.674121  46.728435

Cinsiyet
Kan         AB Rh +   AB Rh -     B Rh +     B Rh -
Yas       45.387574  46.10951  45.084302  44.902655

In [23]:
# "index="" parametresi ile satır olarak da yazdırabiliriz.

veri6=veri.pivot_table(values="Yas", index=["Cinsiyet","Kan"], aggfunc=np.mean)
print(veri6)

                        Yas
Cinsiyet Kan
Erkek    0 Rh +   45.695971
         0 Rh -   45.371336
         A Rh +   44.839080
         A Rh -   44.823529
         AB Rh +  44.527586
         AB Rh -  46.693603
         B Rh +   44.758065
         B Rh -   45.533123
Kadın    0 Rh +   44.312865
         0 Rh -   46.613861
         A Rh +   45.674121
         A Rh -   46.728435
         AB Rh +  45.387574
         AB Rh -  46.109510
         B Rh +   45.084302
         B Rh -   44.902655

In [24]:
veri7=veri.pivot_table(values="Yas", index=["Cinsiyet","Kan"], aggfunc=np.mean, columns="İl")
print(veri7)

İl                    Adana   Adıyaman  Afyonkarahisar    Aksaray     Amasya  \
Cinsiyet Kan
Erkek    0 Rh +   55.500000  47.400000       50.666667  40.400000  46.000000
         0 Rh -   30.500000  53.666667       46.333333  49.000000  53.750000
         A Rh +   48.000000  41.000000       63.000000  40.750000  41.666667
         A Rh -   42.000000  40.800000       52.000000  56.000000  53.000000
         AB Rh +  35.000000  44.666667       34.833333  46.000000  31.000000
         AB Rh -  43.500000  39.800000       31.500000  36.333333  35.500000
         B Rh +   60.333333  30.333333       31.500000  53.500000  52.000000
         B Rh -   61.666667  40.250000       38.000000  48.833333  41.000000
Kadın    0 Rh +   49.181818  38.400000       45.000000  53.800000  58.200000
         0 Rh -   35.333333  39.500000       49.250000  56.333333  41.666667
         A Rh +   43.800000  60.333333       39.000000  39.500000  44.000000
         A Rh -   36.250000  53.500000       53.333333        NaN  37.800000
         AB Rh +  29.166667  47.500000       19.500000  56.750000  45.400000
         AB Rh -  48.666667        NaN       49.250000  53.000000  46.750000
         B Rh +   30.000000  42.333333       37.333333  46.250000  35.333333
         B Rh -   39.400000  31.000000       40.250000  36.666667  40.800000

İl                   Ankara    Antalya    Ardahan     Artvin      Aydın  ...  \
Cinsiyet Kan                                                             ...
Erkek    0 Rh +   48.400000  75.000000  37.666667  45.250000  62.000000  ...
         0 Rh -   31.833333  53.500000  35.000000  41.666667  41.333333  ...
         A Rh +   36.000000  31.250000  59.800000  39.250000  25.000000  ...
         A Rh -   45.750000  18.000000  34.571429  48.000000  50.000000  ...
         AB Rh +  28.400000  42.500000  41.000000  45.000000  29.750000  ...
         AB Rh -  33.000000  51.000000  45.000000  50.400000  57.200000  ...
         B Rh +   64.333333  34.333333  34.000000  61.000000  43.750000  ...
         B Rh -   42.666667  50.500000  48.250000  34.500000  50.500000  ...
Kadın    0 Rh +   50.666667  42.000000  42.000000  23.666667  51.500000  ...
         0 Rh -   41.666667  48.500000  37.000000  46.500000  35.333333  ...
         A Rh +   46.333333  44.333333  54.400000  57.500000  29.000000  ...
         A Rh -   38.500000  39.500000  45.333333  40.333333  42.800000  ...
         AB Rh +  62.500000  46.666667  49.000000  32.500000  51.000000  ...
         AB Rh -  57.125000  32.000000  43.571429  45.000000  34.500000  ...
         B Rh +   48.666667  56.800000  71.000000  39.714286  43.000000  ...
         B Rh -   32.800000  41.750000  44.000000  29.200000  46.000000  ...

İl                   Yalova     Yozgat  Zonguldak  Çanakkale    Çankırı  \
Cinsiyet Kan
Erkek    0 Rh +   51.857143  44.333333  66.500000  44.500000  54.333333
         0 Rh -   41.500000  48.000000  28.833333  65.500000  54.833333
         A Rh +   32.333333  29.500000  52.750000  62.666667  54.500000
         A Rh -   50.250000        NaN  46.250000  44.000000  53.500000
         AB Rh +  52.750000  34.000000  71.000000  32.333333  48.666667
         AB Rh -  43.333333  42.250000  40.000000  40.500000  36.000000
         B Rh +   40.500000  31.250000  44.500000  37.500000  31.750000
         B Rh -   52.333333  37.777778  19.000000  37.600000  58.250000
Kadın    0 Rh +   33.500000  49.333333  27.750000  33.500000  40.000000
         0 Rh -         NaN  53.333333  56.000000        NaN  30.333333
         A Rh +   42.555556  43.500000  45.000000  52.000000  53.666667
         A Rh -   55.250000  53.800000  49.666667  35.666667  62.000000
         AB Rh +  48.500000  52.000000  38.333333  45.700000  41.800000
         AB Rh -  51.800000  31.000000  48.833333  59.250000  46.250000
         B Rh +   55.333333  38.250000  36.800000  50.166667  33.000000
         B Rh -   50.500000  27.500000  52.750000  43.250000  49.400000

İl                    Çorum   İstanbul      İzmir  Şanlıurfa     Şırnak
Cinsiyet Kan
Erkek    0 Rh +   34.000000  53.666667  50.750000  60.500000  50.000000
         0 Rh -         NaN  55.500000  50.250000  29.500000  34.500000
         A Rh +   41.000000  33.500000  33.000000  28.750000  71.000000
         A Rh -   47.750000  41.666667  31.750000  49.400000  45.333333
         AB Rh +  50.500000  44.166667  28.500000  53.375000  73.000000
         AB Rh -  55.000000  51.000000  63.000000  41.571429  52.750000
         B Rh +   59.000000  46.166667  41.333333  47.666667  48.250000
         B Rh -   65.250000  58.500000  57.200000  43.500000  47.333333
Kadın    0 Rh +   50.400000  46.600000  48.200000  29.500000  49.750000
         0 Rh -   42.333333  47.666667  38.333333  50.666667  64.000000
         A Rh +   42.750000  39.666667  45.000000  36.000000  48.875000
         A Rh -   41.428571  46.000000  39.800000  52.333333  46.500000
         AB Rh +  41.000000  45.800000  50.000000  51.500000  35.666667
         AB Rh -  45.000000  38.000000  57.000000  43.100000  44.250000
         B Rh +   60.250000  45.400000  43.857143  56.000000  36.750000
         B Rh -   32.500000  40.000000  52.166667  41.500000  50.800000

[16 rows x 81 columns]

In [25]:
veri8=veri.pivot_table(values="Yas", columns=["Cinsiyet","Kan"], aggfunc=np.mean, index="İl")
print(veri8)

Cinsiyet            Erkek                                              \
Kan                0 Rh +     0 Rh -     A Rh +     A Rh -    AB Rh +
İl
Adana           55.500000  30.500000  48.000000  42.000000  35.000000
Adıyaman        47.400000  53.666667  41.000000  40.800000  44.666667
Afyonkarahisar  50.666667  46.333333  63.000000  52.000000  34.833333
Aksaray         40.400000  49.000000  40.750000  56.000000  46.000000
Amasya          46.000000  53.750000  41.666667  53.000000  31.000000
...                   ...        ...        ...        ...        ...
Çorum           34.000000        NaN  41.000000  47.750000  50.500000
İstanbul        53.666667  55.500000  33.500000  41.666667  44.166667
İzmir           50.750000  50.250000  33.000000  31.750000  28.500000
Şanlıurfa       60.500000  29.500000  28.750000  49.400000  53.375000
Şırnak          50.000000  34.500000  71.000000  45.333333  73.000000

Cinsiyet                                             Kadın             \
Kan               AB Rh -     B Rh +     B Rh -     0 Rh +     0 Rh -
İl
Adana           43.500000  60.333333  61.666667  49.181818  35.333333
Adıyaman        39.800000  30.333333  40.250000  38.400000  39.500000
Afyonkarahisar  31.500000  31.500000  38.000000  45.000000  49.250000
Aksaray         36.333333  53.500000  48.833333  53.800000  56.333333
Amasya          35.500000  52.000000  41.000000  58.200000  41.666667
...                   ...        ...        ...        ...        ...
Çorum           55.000000  59.000000  65.250000  50.400000  42.333333
İstanbul        51.000000  46.166667  58.500000  46.600000  47.666667
İzmir           63.000000  41.333333  57.200000  48.200000  38.333333
Şanlıurfa       41.571429  47.666667  43.500000  29.500000  50.666667
Şırnak          52.750000  48.250000  47.333333  49.750000  64.000000

Cinsiyet                                                               \
Kan                A Rh +     A Rh -    AB Rh +    AB Rh -     B Rh +
İl
Adana           43.800000  36.250000  29.166667  48.666667  30.000000
Adıyaman        60.333333  53.500000  47.500000        NaN  42.333333
Afyonkarahisar  39.000000  53.333333  19.500000  49.250000  37.333333
Aksaray         39.500000        NaN  56.750000  53.000000  46.250000
Amasya          44.000000  37.800000  45.400000  46.750000  35.333333
...                   ...        ...        ...        ...        ...
Çorum           42.750000  41.428571  41.000000  45.000000  60.250000
İstanbul        39.666667  46.000000  45.800000  38.000000  45.400000
İzmir           45.000000  39.800000  50.000000  57.000000  43.857143
Şanlıurfa       36.000000  52.333333  51.500000  43.100000  56.000000
Şırnak          48.875000  46.500000  35.666667  44.250000  36.750000

Cinsiyet
Kan                B Rh -
İl
Adana           39.400000
Adıyaman        31.000000
Afyonkarahisar  40.250000
Aksaray         36.666667
Amasya          40.800000
...                   ...
Çorum           32.500000
İstanbul        40.000000
İzmir           52.166667
Şanlıurfa       41.500000
Şırnak          50.800000

[81 rows x 16 columns]