In [1]:
import pandas as pd

In [2]:
veri=pd.DataFrame(pd.read_excel("datasets/hastane.xlsx"))

In [3]:
# SQL yapılarındaki gibi unique bir sütun varsa onu index yapabiliriz;

veri2=veri.set_index("Tc")

print(veri2)

                         Ad_Soyad Cinsiyet  Yas  \
Tc
21416079369         Masal Elkıran    Kadın   34
98898378538           Cem Gözağaç    Erkek   35
94849292716        Veli Dinçaslan    Erkek   56
42507927276       Niyazi Yeniçeri    Erkek   20
65217432309    Ayten Hacıeminoglu    Kadın   58
...                           ...      ...  ...
64987043272         Yüksel İdemen    Kadın   47
78180125827          Hediye Aktop    Kadın   49
87108847422  Müzeyyen Çaglarırmak    Kadın   38
75338889250         Fatmanur Nuri    Kadın   48
61909591237          Kerim Güngeç    Erkek   25

                                            Mail         Tel          İl  \
Tc
21416079369       m.elkıran@anlaşılırekonomi.com  5063388897     Ardahan
98898378538       c.gözağaç@anlaşılırekonomi.com  5282384749     Isparta
94849292716     v.dinçaslan@anlaşılırekonomi.com  5033320406     Trabzon
42507927276      n.yeniçeri@anlaşılırekonomi.com  5052380221  Diyarbakır
65217432309  a.hacıeminoglu@anlaşılırekonomi.com  5133321842      Mardin
...                                          ...         ...         ...
64987043272        y.idemen@anlaşılırekonomi.com  5223333180   Eskişehir
78180125827         h.aktop@anlaşılırekonomi.com  5293314916     Isparta
87108847422   m.çaglarırmak@anlaşılırekonomi.com  5223373147       Siirt
75338889250          f.nuri@anlaşılırekonomi.com  5113318203       Sivas
61909591237        k.güngeç@anlaşılırekonomi.com  5063355159      Ankara

                       İlce      Kan                               Bolum
Tc
21416079369  Ardahan Merkez   B Rh -          İç Hastalıkları (Dahiliye)
98898378538          Atabey   B Rh -                      Tıbbi Onkoloji
94849292716        Akçaabat   A Rh -                 Transfüzyon Merkezi
42507927276          Bismil  AB Rh -                 Transfüzyon Merkezi
65217432309           Derik   A Rh -                Böbrek Nakli Merkezi
...                     ...      ...                                 ...
64987043272         Günyüzü   A Rh -       Kalp ve Damar Cerrahisi (KVC)
78180125827   Şarkikaraağaç   B Rh +                   Beslenme ve Diyet
87108847422         Pervari   A Rh -  Kozmetik Dermatoloji (Kozmetoloji)
75338889250           Hafik  AB Rh -                  Psikoloji (Klinik)
61909591237        Keçiören   A Rh +             Robotik Cerrahi Merkezi

[5000 rows x 9 columns]

In [ ]:
# Ana veri üzerinde bir değişiklik yapmak istersek;

## veri.set_index("Tc", inplace=True) yapısı kullanılır. Bu yapıdan sonra değişiklik ana veri üzerinde yapılmış olur. 

# Bir problem ile karşılaşıldığında verinin orjinaline dönebilmek için ise;

## veri.reset_index() yapısı kullanılır.

In [8]:
# .loc[] metodu çalışmasına bir örnek, "Tc olarak index belirlenmiştir, bu şekilde Tc numarası girilen hastanın bilgileri görülecektir."
# örnek tc: 61909591237 (kopyalayabilirsiniz)

x=int(input("Lütfen Hastanın TC Kimlik No'sunu giriniz: "))
print("Hastanın bilgileri: \n\n{}".format(veri2.loc[x]))

Hastanın bilgileri:

Ad_Soyad                     Kerim Güngeç
Cinsiyet                            Erkek
Yas                                    25
Mail        k.güngeç@anlaşılırekonomi.com
Tel                            5063355159
İl                                 Ankara
İlce                             Keçiören
Kan                                A Rh +
Bolum             Robotik Cerrahi Merkezi
Name: 61909591237, dtype: object